<div class="modal-header">
  <div style="float:left;"><span class="modal-title">{{program.Title}}</span></div>
  <button id="detailsCloseBtn" type="button" class="close-button" style="float:right;" autofocus ng-click="fireEpgAction('close');close(program);">
    <img src="images/x.png" />
  </button>  
</div>
<div class="modal-body" style="clear:both;">
  <div ng-if="program.subTitle != ''">
    {{program.subTitle}}
  </div>
  <div>
    {{program.start | date:'MMM d h:mm a'}} - {{program.end | date:'h:mm a'}} &nbsp; {{program.channel.ChanNum}} ({{program.channel.CallSign}})
    <p ng-if="program.category || program.originalAirDate">
      <span class="program-category">{{program.category}} </span> 
      <span ng-if="program.originalAirDate">(Originally Aired {{program.originalAirDate | date:'MMM d, yyyy'}})</span>
    </p>
    <accordion close-others="true">
      <accordion-group is-open="true">
        <accordion-heading><div class="accordion-heading">Description</div></accordion-heading>
        <p class="program-details" ng-if="guideData.demoMode">
          Not available in demo
        </p>
        <p class="program-details" ng-if="!guideData.demoMode">
          {{program.description}}
        </p>
      </accordion-group>
      <accordion-group>
        <accordion-heading><div class="accordion-heading">Cast</div></accordion-heading>
        <p class="program-details" ng-if="guideData.demoMode">
          Not available in demo
        </p>
        <p class="program-details" ng-if="!guideData.isMyth28 && !guideData.demoMode">
          Available in MythTV 0.28
        </p>
        <p class="program-details" ng-if="guideData.isMyth28 && !guideData.demoMode">
          Directed by: {{program.directors}}<br/>
          Starring: {{program.actors}}
        </p>
      </accordion-group>
    </accordion>
  </div>
</div>
<div class="modal-footer">
  <div ng-if="program.recStatus.code != 0" class="details-status"
    ng-class="{'details-record': program.recStatus.record, 'details-error': program.recStatus.error, 'details-warn': program.recStatus.code == 7}">
    {{program.recStatus.description}}
  </div>
  <button class="btn btn-default modal-button" epg-record="single" ng-if="program.recStatus.actions.indexOf('single') >= 0" 
    ng-disabled="program.recStatus.error || program.recStatus.code == 7" ng-click="close(program)">Record This</button>
  <button class="btn btn-default modal-button" epg-record="transcode" ng-if="program.recStatus.actions.indexOf('transcode') >= 0" 
    ng-disabled="program.recStatus.error || program.recStatus.code == 7" ng-click="close(program)">Record &amp; Transcode</button>
  <button class="btn btn-default modal-button" epg-record="all" ng-if="program.recStatus.actions.indexOf('all') >= 0" 
    ng-disabled="program.recStatus.error || program.recStatus.code == 7" ng-click="close(program)">Record All</button>
    
  <button class="btn btn-default modal-button" epg-record="dont" ng-if="program.recStatus.actions.indexOf('dont') >= 0" 
    ng-disabled="!guideData.isMyth28" ng-click="close(program)">Don't Record</button>
  <button class="btn btn-default modal-button" epg-record="never" ng-if="program.recStatus.actions.indexOf('never') >= 0"
    ng-disabled="!guideData.isMyth28" ng-click="close(program)">Never Record</button>
  <button class="btn btn-default modal-button" epg-record="remove" ng-if="program.recStatus.actions.indexOf('remove') >= 0" 
    ng-click="close(program)">Remove Schedule</button>    
</div>