<div class="search-popover">
  <div class="search-content">
    <input id="searchInput" type="text" class="form-control search-input" ng-class="'search-input'" ng-disabled="!guideData.isMyth28 && !guideData.mythlingServices"
      ng-model="searchFilter" ng-model-options="{getterSetter: true}" focus-me="later" on-enter="searchForward()" />
    <button type="button" class="search-button" ng-click="searchBackward()" 
      ng-disabled="!guideData.isMyth28 || filterVal.length == 0">
      <img src="images/lft.png" />
    </button>
    <button type="button" class="search-button" ng-click="searchForward()" 
      ng-disabled="!guideData.isMyth28 || filterVal.length == 0">
      <img src="images/rt.png" />
    </button>
    <img src="images/loading_sm.gif" class="search-loading" ng-if="isSearching()" />
    <div class="search-results">{{resultsSummary}}</div>
    <button type="button" class="close-button" ng-click="closeSearch()">
      <img src="images/x.png" />
    </button>
  </div>
</div>