/* mythling-epg stylesheet */
body {
  /* font-family: Verdana, Geneva, sans-serif; */
  /* font-family: "RobotoDraft","Roboto",sans-serif; */
  font-family: Verdana, Geneva, sans-serif;
  font-feature-settings: "liga", "dlig";
  font-size: 16px;
  margin: 0;
}
table {
  /* avoid focus outline on calendar popup */
  outline: none;
}
.glyphicon {
	/* avoid dependency on glyphicon fonts */
	font-family: Verdana, Geneva, sans-serif;
}
.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}
.header-height {
  height: 60px;
}
.label-width {
  width: 115px;
}
.row-height {
  height: 58px;
}
.slot-width {
  width: 250px;
}
.guide-status {
  position: fixed;
  z-index: 150;
  font-size: 14px;
  font-weight: bold;
  vertical-align: middle;  
  background-color: #90a4ae;
  padding: 2px;
}
.status {
  text-align: center;
}
.status ul {
  margin-top: 26px;
}
.status-in {
  margin: 2px;
  height: 100px;
  width: 100px;
}
.calendar-input {
  cursor: default;
  text-align: center;
  margin-top: 1px;
  margin-left: 1px;
  padding: 1px; 
  padding-right: 2px;
  width: 107px;
  height: 24px;
  border: 1px solid #607d8b;
  border-radius: 3px;
  background-color: #eceff1;
  background: -webkit-linear-gradient(white, #cfd8dc);
  background: linear-gradient(to top, #cfd8dc, white);
  box-shadow: 2px 1px 4px #424242;  
}
.calendar-outer {
  float: left;
  margin-top: 2px;
}
.search-outer {
  float: right;
  margin-top: 2px;
  padding-right: 2px;
}
.action-button {
  cursor: default;
  padding: 0;
  background-color: transparent;
  border: 1px solid #607d8b;
  border-radius: 3px;
  margin: 2px 1px 1px 1px;
  outline: none;
  box-shadow: 2px 2px 4px #424242;  
}
.action-button:focus {
  border: 2px solid blue;
  margin: 1px 0 0 0;
}
.listings {
  display: inline-block;
}
.timeslot-row {
  white-space: nowrap;
  display: inline-block;
}
.timeslot-outer {
  display: inline-block;
  font-size: 18px;
  border: 1px solid transparent;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2px;
  background-color: #90a4ae;
}
.timeslot {
  color: white;
  background-color: #455a64;
  text-align: center;
  padding-top: 5px;
  height: 100%;
  width: 100%;
  border-radius: 3px;  
}
.channel-column {
  display: inline-block;
}
.channel-outer {
  font-size: 18px;
  border: 1px solid transparent;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2px;
  background-color: #90a4ae;  
}
.channel {
  color: white;
  background-color: #455a64;
  height: 100%;
  width: 100%;
  border-radius: 3px;
  padding-left: 5px;
}
.channel-row {
	display: -webkit-inline-flex;
  display: inline-flex;
  white-space: nowrap;
}
.program-outer {
  display: inline-block;
}
.program {
  background-color: #90a4ae;
  font-size: 17px;
  border: 1px solid transparent;
  overflow: hidden;
  box-sizing: border-box;
  padding: 2px;
}
.program-inner {
  /* color: #455a64; */
  padding: 2px;
  border-radius: 4px;
  white-space: normal;
  height: 100%;
  width: 100%;
  background-color: #f2f5f7;
  background: -webkit-linear-gradient(white, #cfd8dc);  
  background: linear-gradient(to top, #cfd8dc, white);
  cursor: pointer;
  outline: none;
}
.program-inner:hover {
  padding: 0;
  border: 2px solid black;
}
.program-inner:focus {
  padding: 0;
  border: 2px solid black;
  background-color: #90caf9;
  background: -webkit-linear-gradient(#bbdefb, #64b5f6);
  background: linear-gradient(to top, #64b5f6, #bbdefb);
}
.program-title {
  font-size: 18px;
}
.program-select {
  padding: 0;
  border: 2px solid black;
  background-color: #90caf9;
  background: -webkit-linear-gradient(#bbdefb, #64b5f6);
  background: linear-gradient(to top, #64b5f6, #bbdefb);
}
.program-record {
  background-color: #80cbc4;
  background: -webkit-linear-gradient(#e0f2f1, #80cbc4);
  background: linear-gradient(to top, #80cbc4, #e0f2f1);
}
.program-error {
  background-color: #ef9a9a;
  background: -webkit-linear-gradient(#ffebee, #ef9a9a);
  background: linear-gradient(to top, #ef9a9a, #ffebee);
}
.program-warn {
  background-color: #fff176;
  background: -webkit-linear-gradient(#fffde7, #fff176);
  background: linear-gradient(to top, #fff176, #fffde7);
}
.program-details {
  padding-top: 2px;
}
.details-status {
	float: left;
	font-size: 14px;
	font-weight: bold;
	margin: 10px 5px 0 5px;
}
.details-record {
	color: #009688;
}
.details-error {
	color: #f44336;
}
.details-warn {
  color: #f9a825;
}
.program-category {
  font-style: italic;  
}
.popover-menu {
  position: relative;
  margin-top: 0px;
  box-shadow: none;
  border: none;  
}
.modal-button {
  background-color: #e8e8e9;
  padding: 6px 8px;
  margin-top: 5px;
}
.search-popover {
  background-color: white;
  display: inline;
  position: absolute;
  top: -12px;
  left: -10px;
  height: 32px;
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.search-content {
  width: auto;
  white-space: nowrap;
  padding: 2px 6px 0px 4px;
  padding-bottom: 1px;
}
.search-input {
  display: inline-block;
  vertical-align: middle;
  height: 23px;
  width: 300px;
  padding: 0px 2px;
}
.search-input[disabled] {
  font-style: italic;
  opacity: 0.67;
}
.search-button {
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  padding: 0px 6px 1px 6px;
  background-color: #e8e8e9;
  border: 1px solid gray;
  margin-left: 3px;
  border-radius: 3px;  
}
.search-button:hover {
  background-color: lightgray;
}
.search-button[disabled] {
  opacity: 0.5;
}
.search-loading {
  display: inline-block;
  margin-left: 3px;
}
.search-results {
  display: inline-block;
  font-size: 11px;
  font-weight: normal;
  margin-left: 2px;
}
.close-button {
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  padding: 0px;
  margin: 1px;
  border: none;
  background-color: transparent;
}
.close-button:hover {
	outline: none;
}
.close-button img {
  background-color: white;
  padding: 6px 8px;
  border: 1px solid transparent;
  border-radius: 2px;
}
.close-button img:hover {
  background-color: buttonface;
  border: 1px solid red;
  border-radius: 2px;
}
.input-warn {
  background-color: #80deea;
  background: -webkit-linear-gradient(#e0f7fa, #4dd0e1);  
  background: linear-gradient(to top, #4dd0e1, #e0f7fa); 
}

/* styles for old mobile browsers */
.a {
  visibility: hidden;
  position: absolute;
}
.f {
  position: fixed;
}
.program-tb {
  width: 100%;
  height: 100%;
  border: none;
  padding: 0;
  background: -webkit-linear-gradient(white, #cfd8dc);   
  background: linear-gradient(to top, #cfd8dc, white);  
}

/* bootstrap ui overrides */
.dropdown-menu {
  display: inline;
  min-width: 150px;
  padding: 1px 3px 1px 3px;
  margin: 0;
}
.dropdown-menu > li > a {
  outline: none;
  padding: 3px 10px;
}
/* disabled menu items */
.dropdown-menu > li > span {
  outline: none;
  padding: 3px 10px;
  display: block;
  clear: both;
  font-weight: normal;
  font-style: italic;
  line-height: 1.42857143;
  color: #909090;
  white-space: nowrap;  
}
.dropdown-menu > li > a:focus {
  background-color: transparent;
}
.dropdown-menu > li > a:hover {
  color: #262626;
  text-decoration: none;
  background-color: #b0bec5;
  border-radius: 3px;
}
.dropdown-menu .divider {
  margin: 3px 0;
}
.popover-content {
  padding: 0;
}
.modal-header {
  padding: 10px;
  background-color: #b0bec5;
  background: -webkit-linear-gradient(#90a4ae, #eceff1);  
  background: linear-gradient(to top, #eceff1, #90a4ae);
  white-space: nowrap;
}
.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 18px; 
  font-weight: bold;
}
.modal-body {
  padding: 5px 10px;
}
.modal-body p {
  margin: 0 0 5px;
}
.modal-footer {
  margin-top: 10px;
  padding: 5px 10px 15px 5px;
}
.panel-heading {
  padding: 5px;
  background-color: #b0bec5;
  background: -webkit-linear-gradient(#90a4ae, #eceff1);  
  background: linear-gradient(to top, #eceff1, #90a4ae);
}
.panel-heading a {
  font-weight: bold;
  text-decoration: none;
}
.panel-heading a:hover {
  text-decoration: underline;
}
.panel-heading a:focus {
  outline: none;
}
.accordion-heading {
  font-size: 15px;
}
.panel-group {
	margin-top: 5px;
	margin-bottom: 3px;
}
.panel-body {
  padding: 5px;
}
.glyphicon-chevron-right:before {
  content: ">";
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
.glyphicon-chevron-left:before {
  content: "<";
  font-family: Verdana, Geneva, sans-serif;
  font-size: 12px;
  font-weight: bold;
}
@-ms-viewport {
  width: auto!important;
}